<!DOCTYPE html>
<html>
<head>
<title>not sus</title>
</head>
<body>

<h1>IAS</h1>
<p>Brought to you by the institue against securly. Enjoy</p>
<iframe src="https://1v1.lol" width="700" height="500"></iframe>


</body>
</html>

